@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Denton Condensed Test";
    src: url("./fonts/denton/woff/DentonCondensed-ThinItalic.woff2")
        format("woff2"),
      url("./fonts/denton/woff/DentonCondensed-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  
