*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.collapse {
  visibility: collapse;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.top-\[1\%\] {
  top: 1%;
}

.z-\[20px\] {
  z-index: 20px;
}

.z-\[30px\] {
  z-index: 30px;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[6px\] {
  margin-bottom: 6px;
}

.ml-\[102px\] {
  margin-left: 102px;
}

.ml-\[6px\] {
  margin-left: 6px;
}

.mr-\[90px\] {
  margin-right: 90px;
}

.mt-\[-92px\] {
  margin-top: -92px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[110px\] {
  margin-top: 110px;
}

.mt-\[150px\] {
  margin-top: 150px;
}

.mt-\[173px\] {
  margin-top: 173px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[25\%\] {
  margin-top: 25%;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mt-\[332px\] {
  margin-top: 332px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[450px\] {
  margin-top: 450px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.min-h-\[1000px\] {
  min-height: 1000px;
}

.min-h-\[1094px\] {
  min-height: 1094px;
}

.min-h-\[1200px\] {
  min-height: 1200px;
}

.min-h-\[1px\] {
  min-height: 1px;
}

.min-h-\[700px\] {
  min-height: 700px;
}

.min-h-\[88px\] {
  min-height: 88px;
}

.min-h-fit {
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.min-h-\[900px\] {
  min-height: 900px;
}

.w-full {
  width: 100%;
}

.max-w-\[100px\] {
  max-width: 100px;
}

.max-w-\[102px\] {
  max-width: 102px;
}

.max-w-\[120px\] {
  max-width: 120px;
}

.max-w-\[1248px\] {
  max-width: 1248px;
}

.max-w-\[129px\] {
  max-width: 129px;
}

.max-w-\[139px\] {
  max-width: 139px;
}

.max-w-\[153px\] {
  max-width: 153px;
}

.max-w-\[1540px\] {
  max-width: 1540px;
}

.max-w-\[1716px\] {
  max-width: 1716px;
}

.max-w-\[1840px\] {
  max-width: 1840px;
}

.max-w-\[1920px\] {
  max-width: 1920px;
}

.max-w-\[197px\] {
  max-width: 197px;
}

.max-w-\[225px\] {
  max-width: 225px;
}

.max-w-\[232px\] {
  max-width: 232px;
}

.max-w-\[235px\] {
  max-width: 235px;
}

.max-w-\[24px\] {
  max-width: 24px;
}

.max-w-\[264px\] {
  max-width: 264px;
}

.max-w-\[266px\] {
  max-width: 266px;
}

.max-w-\[273px\] {
  max-width: 273px;
}

.max-w-\[311px\] {
  max-width: 311px;
}

.max-w-\[312px\] {
  max-width: 312px;
}

.max-w-\[339px\] {
  max-width: 339px;
}

.max-w-\[390px\] {
  max-width: 390px;
}

.max-w-\[40px\] {
  max-width: 40px;
}

.max-w-\[48px\] {
  max-width: 48px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[50px\] {
  max-width: 50px;
}

.max-w-\[513px\] {
  max-width: 513px;
}

.max-w-\[528px\] {
  max-width: 528px;
}

.max-w-\[546px\] {
  max-width: 546px;
}

.max-w-\[558px\] {
  max-width: 558px;
}

.max-w-\[55px\] {
  max-width: 55px;
}

.max-w-\[57px\] {
  max-width: 57px;
}

.max-w-\[58px\] {
  max-width: 58px;
}

.max-w-\[59px\] {
  max-width: 59px;
}

.max-w-\[647px\] {
  max-width: 647px;
}

.max-w-\[68px\] {
  max-width: 68px;
}

.max-w-\[704px\] {
  max-width: 704px;
}

.max-w-\[70px\] {
  max-width: 70px;
}

.max-w-\[768px\] {
  max-width: 768px;
}

.max-w-\[825\.07px\] {
  max-width: 825.07px;
}

.max-w-\[82px\] {
  max-width: 82px;
}

.max-w-\[947px\] {
  max-width: 947px;
}

.max-w-\[98px\] {
  max-width: 98px;
}

.max-w-\[72px\] {
  max-width: 72px;
}

.max-w-\[1875px\] {
  max-width: 1875px;
}

.max-w-\[192px\] {
  max-width: 192px;
}

.max-w-\[1818px\] {
  max-width: 1818px;
}

.max-w-\[858px\] {
  max-width: 858px;
}

.max-w-\[868px\] {
  max-width: 868px;
}

.max-w-\[888px\] {
  max-width: 888px;
}

.max-w-\[610px\] {
  max-width: 610px;
}

.max-w-\[43px\] {
  max-width: 43px;
}

.max-w-\[507px\] {
  max-width: 507px;
}

.max-w-\[491px\] {
  max-width: 491px;
}

.border-collapse {
  border-collapse: collapse;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-\[312px_312px_312px_312px\] {
  grid-template-columns: 312px 312px 312px 312px;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[52px\] {
  gap: 52px;
}

.gap-\[78px\] {
  gap: 78px;
}

.gap-\[9px\] {
  gap: 9px;
}

.gap-\[73px\] {
  gap: 73px;
}

.gap-y-\[67px\] {
  row-gap: 67px;
}

.gap-x-\[30px\] {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[14px\] {
  border-radius: 14px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[34px\] {
  border-radius: 34px;
}

.rounded-\[52px\] {
  border-radius: 52px;
}

.rounded-\[53px\] {
  border-radius: 53px;
}

.rounded-\[54px\] {
  border-radius: 54px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-\[\#242323\] {
  --tw-border-opacity: 1;
  border-color: rgb(36 35 35 / var(--tw-border-opacity));
}

.border-\[\#ffffff1a\] {
  border-color: #ffffff1a;
}

.bg-\[\#ffffff1a\] {
  background-color: #ffffff1a;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[url\(\'images\/gridsectione\.png\'\)\] {
  background-image: url('images/gridsectione.png');
}

.bg-\[url\(\'images\/layoutfres\.png\'\)\] {
  background-image: url('images/layoutfres.png');
}

.bg-layout-b {
  background-image: url('images/body img 3.png');
}

.bg-\[url\(images\/GetStartedToday\.png\)\] {
  background-image: url(images/GetStartedToday.png);
}

.bg-contain {
  background-size: contain;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-top {
  background-position: top;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.px-\[102px\] {
  padding-left: 102px;
  padding-right: 102px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[12px\] {
  padding-bottom: 12px;
}

.pb-\[16px\] {
  padding-bottom: 16px;
}

.pb-\[19px\] {
  padding-bottom: 19px;
}

.pb-\[24px\] {
  padding-bottom: 24px;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[8px\] {
  padding-bottom: 8px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-\[102px\] {
  padding-left: 102px;
}

.pl-\[12px\] {
  padding-left: 12px;
}

.pl-\[16px\] {
  padding-left: 16px;
}

.pl-\[19px\] {
  padding-left: 19px;
}

.pl-\[54px\] {
  padding-left: 54px;
}

.pr-\[12px\] {
  padding-right: 12px;
}

.pr-\[16px\] {
  padding-right: 16px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-\[12px\] {
  padding-top: 12px;
}

.pt-\[134px\] {
  padding-top: 134px;
}

.pt-\[16px\] {
  padding-top: 16px;
}

.pt-\[18px\] {
  padding-top: 18px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[24px\] {
  padding-top: 24px;
}

.pt-\[266px\] {
  padding-top: 266px;
}

.pt-\[32px\] {
  padding-top: 32px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.pt-\[7px\] {
  padding-top: 7px;
}

.pt-\[90px\] {
  padding-top: 90px;
}

.pt-\[93px\] {
  padding-top: 93px;
}

.pt-\[98px\] {
  padding-top: 98px;
}

.pl-\[24px\] {
  padding-left: 24px;
}

.pr-\[24px\] {
  padding-right: 24px;
}

.pr-\[102px\] {
  padding-right: 102px;
}

.pt-\[250px\] {
  padding-top: 250px;
}

.pt-\[181px\] {
  padding-top: 181px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-\[145\.77px\] {
  font-size: 145.77px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[48px\] {
  font-size: 48px;
}

.text-\[70px\] {
  font-size: 70px;
}

.text-\[72px\] {
  font-size: 72px;
}

.text-\[88px\] {
  font-size: 88px;
}

.text-\[160px\] {
  font-size: 160px;
}

.text-\[170px\] {
  font-size: 170px;
}

.text-\[140px\] {
  font-size: 140px;
}

.text-\[150px\] {
  font-size: 150px;
}

.text-\[145px\] {
  font-size: 145px;
}

.text-\[90px\] {
  font-size: 90px;
}

.text-\[30px\] {
  font-size: 30px;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-thin {
  font-weight: 100;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.leading-3 {
  line-height: .75rem;
}

.leading-\[105\.6px\] {
  line-height: 105.6px;
}

.leading-\[145\.77px\] {
  line-height: 145.77px;
}

.leading-\[19\.6px\] {
  line-height: 19.6px;
}

.leading-\[19px\] {
  line-height: 19px;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[22\.4px\] {
  line-height: 22.4px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[28\.8px\] {
  line-height: 28.8px;
}

.leading-\[33\.6px\] {
  line-height: 33.6px;
}

.leading-\[57\.6px\] {
  line-height: 57.6px;
}

.leading-\[86\.4px\] {
  line-height: 86.4px;
}

.leading-\[187px\] {
  line-height: 187px;
}

.leading-\[126px\] {
  line-height: 126px;
}

.leading-\[44\.8px\] {
  line-height: 44.8px;
}

.tracking-\[-0\.02em\] {
  letter-spacing: -0.02em;
}

.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}

.tracking-\[-0\.em\] {
  letter-spacing: -0.em;
}

.tracking-\[-12px\] {
  letter-spacing: -12px;
}

.tracking-\[-5px\] {
  letter-spacing: -5px;
}

.tracking-\[3\%\] {
  letter-spacing: 3%;
}

.text-\[\#039b70\] {
  --tw-text-opacity: 1;
  color: rgb(3 155 112 / var(--tw-text-opacity));
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#ffff\] {
  color: #ffff;
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-\[100\%\] {
  opacity: 100%;
}

.opacity-\[50\%\] {
  opacity: 50%;
}

.opacity-\[90\%\] {
  opacity: 90%;
}

.opacity-\[30\%\] {
  opacity: 30%;
}

.opacity-\[0\%\] {
  opacity: 0%;
}

.opacity-\[10\%\] {
  opacity: 10%;
}

.shadow-\[\#ffffff\] {
  --tw-shadow-color: #ffffff;
  --tw-shadow: var(--tw-shadow-colored);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

@font-face{
  font-family:"dentontestregular";

  src: url("fonts/denton/dentonRegular400.otf");
}
